[submodule "submodule/segment-anything-1"]
	path = submodule/segment-anything-1
	url = https://github.com/withblues/segment-anything-1
[submodule "submodule/segment-anything-2"]
	path = submodule/segment-anything-2
	url = https://github.com/withblues/sam2.git
